html{
    background-color: mintcream;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.headerTitle{
    font-family: monospace;
    text-align: center;
    margin-top: -2%;
    font-size: 5vw;
    color: #041759;
}

.headerContainer{
    display: flex;
    border-top: solid;
}

.headerButton{
    display: inline;
    margin-right: auto;
    margin-left: auto;
    font-size: 3vw;
    color: #0930B7;
    font-family: sans-serif;
}

.headerLink {
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;

}

header{
    border-bottom: solid;
    border-color: black;
}

.contentTitle{
    text-align: center;
    font-size: 4vw;
    margin-top: 5%;
    font-family: sans-serif;
    color: #041759;
    border-bottom: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contentBox{
    border: solid;
    border-color: #06380c;
    margin-left: auto;
    margin-right: auto;
    background-color: #20b2aa;
    padding: 2%;
    margin-bottom: 3%;
}

/* for Slider */
.slide{
    display: none;
}

.previous, .next{
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 16px;
    color: #041759;
    font-weight: bold;
    font-size: 4vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 4%;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* for content within slider */

.contentHeader{
    text-align: center;
    font-family: monospace;
    font-size: 3vw;
    border-bottom: solid black;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    color: #0930B7;
}

.contentImage{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sliderButton{
    background-color: #1dd60b;
    width: 50%;
    padding: 4%;
    color: black;
    font-family: monospace;
    font-size: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.subHeading{
    font-family: monospace;
    font-size: 2vw;
    font-weight: bold;
}

/*for contact page */
.formHead{
    display: block;
    margin-top: 3%;
    margin-bottom: 1%;
    font-family: monospace;
    font-size: 2.5vw;
}

.form-error{
    margin-top: 1%;
    color: red;
    font-size: 2vw;
    display: none;
}

.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-color: #1dd60b;
    width: 20%;
    padding: 2%;
    font-family: monospace;
    font-size: 3vw;
    font-weight: bold;
}

/* for list page */
    .contentArea{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box{
        width: 40%;
        background-color: #20b2aa;
        padding: 2%;
        margin: 2%;
        text-align: center;
    }

    .thumbnail{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .articleTitle{
        text-align: center;
        font-family: monospace;
        font-size: 3vw;
        border-bottom: solid black;
        color: #041759;
        font-weight: bold;
    }

footer{
    background: rgb(4,23,89);
    background: linear-gradient(90deg, rgba(4,23,89,1) 0%, rgba(6,56,12,1) 79%, rgba(12,134,0,1) 100%);
    height: 5em;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }